@charset "UTF-8";

:root{
    --cor-principal: #000;
    --cor-secundaria: #298312;
    --cor-detalhe: #252525;
    --cor-fonte: #ffffffdd;
    --cor-fonte2: #b8b8b8;
    --fonte-base: Arial;
    --font-weight: 100;
}
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.container{
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: auto/20% 1fr;

}
section.tasks{
    grid-area: 1/1/2/2;
    border-right: 1px solid var(--cor-detalhe);
    position: relative;
}
   
section.new-task{
    grid-area: 1/2/2/2;
    padding: 10px;
}

div#header{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 5px;
}
    div#header h2{
        text-align: center;
        font-family: var(--fonte-base);
        font-weight: var(--font-weight);
        font-size: 1.9vw;
        margin: 2vh auto;
    }
    button#saveTask{
        width: 8vw;
        height: 3vw;
        font-size: 1.9vw;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
        border-radius: 5px;
        border: 1px solid var(--cor-detalhe);
        align-self: self-start;
    }

/* configurando entrada de dados */

input#title{
    margin: 10px auto;
    background-color: transparent;
    border:none;
    padding: 2px;
    width: 70vw;
    font-size: 3.1vw; 
    color: var(--cor-fonte);

}
#content{
    margin: 10px auto;
    background-color: transparent;
    border:none;
    padding: 5px;
    width: 70vw;
    height: 70vh;
    font-size: 2vw; 
    color: var(--cor-fonte);
    resize: none;
    font-family: var(--fonte-base);
}
input#title:focus, #content:focus{
    border: none;
    outline: none;
}

/* Estilo da barra de rolagem */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: var(--cor-detalhe);
  border-radius: 4px;
}
/* Parte que desliza */
textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: grab;
}

/* configurando lista de tarefas salvas */
.tasks h2{
    text-align: center;
    font-family: var(--fonte-base);
    font-weight: var(--font-weight);
    font-size: 1.9vw;
    margin: 2vh auto;
    padding: 5px;
    border-bottom: 1px solid var(--cor-detalhe);
}
p.saved{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1px;
    height: 2vw;
    font-family: var(--fonte-base);
    font-size: 1.2vw;
    color: var(--cor-fonte);
    border-radius: 10px ;
    padding-left: 0.7vw;
}

.saved:hover{
    background-color: var(--cor-detalhe);
    color: white;
}
/* apnas uma adaptação temporária */

/* adaptação telas pequenas (menores de 700 px) */
@media screen and (max-width: 700px) {
    p.saved{
        font-size: 2vw;
        height: 2.4vw;
    }
    button#saveTask{
        width: 8vw;
        height: auto;
        font-size: 2vw;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
        border-radius: 5px;
        border: 1px solid var(--cor-detalhe);
        align-self: stretch;
    }
}
