@charset "UTF-8";

:root{
    --cor-principal: #000;
    --cor-secundaria: #298312;
    --cor-detalhe: #252525;
    --cor-fonte: #ffffffdd;

    --fonte-base: Arial;
    --font-weight: 100;
}
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.container{
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: auto/20% 1fr;

}
section.tasks{
    grid-area: 1/1/2/2;
    border-right: 1px solid var(--cor-detalhe);
    padding: 10px;
    position: relative;
}
    .tasks h2{
        text-align: center;
        font-family: var(--fonte-base);
        font-weight: var(--font-weight);
        font-size: 1.9vw;
        margin: 2vh auto;
    }
   
section.new-task{
    grid-area: 1/2/2/2;
    padding: 10px;
}

div#header{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px;
}
    div#header h2{
        text-align: center;
        font-family: var(--fonte-base);
        font-weight: var(--font-weight);
        font-size: 1.9vw;
        margin: 2vh auto;
    }
    button#saveTask{
        width: 8vw;
        font-size: 1.9vw;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
        border-radius: 5px;
        border: 1px solid var(--cor-detalhe);
    }

/* configurando entrada de dados */

input#title{
    margin: 10px auto;
    background-color: transparent;
    border:none;
    padding: 2px;
    width: 70vw;
    font-size: 3.1vw; 
    color: var(--cor-fonte);

}
input#title:focus{
    border: none;
    outline: none;
   
}